@page "/"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Identity
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Welkom bij de <span class="text-danger">V&D Webshop</span></h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span>Je bent niet ingelogd. <a class="fw-bolder" href="/login">Klik hier</a> om in te loggen </span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Ingelogd als <b>@context.User.Identity.Name</b>. <a class="fw-bolder" href="/logout" >Klik hier</a>  om uit te loggen. </span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                @* <img src="./images/category.png" class="card-img-top" alt="..."> *@
                <div class="card-body">
                    <h5 class="card-title">Category 1</h5>
                    <p class="card-text">Content for category 1</p>
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    public HttpContext HttpContext { get; set; }
    List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetAllCategoriesAsync();
    }

    // async Task LogOut()
    // {
    //     if (HttpContext.User.Identity.IsAuthenticated)
    //     {
    //         await HttpContext.SignOutAsync();
    //         NavigationManager.NavigateTo("/logout", true);
    //     }
    // }
}


