@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Welkom bij de <span class="text-danger">V&D Webshop</span></h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <AuthorizeView>
                    <NotAuthorized>
                        <span>Je bent niet ingelogd. <a class="fw-bolder" href="/login">Klik hier</a> om in te loggen </span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Ingelogd als <b>@context.User.Identity.Name</b>. <a class="fw-bolder" href="/logout">Klik hier</a>  om uit te loggen. </span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>

</div>
