@page "/"
@using BlazorWebshop.Components.Account
@using BlazorWebshop.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Home</PageTitle>

 <AuthorizeView>
    <Authorized>
        <h1>Hallo, @firstName!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hallo, gast!</h1>
    </NotAuthorized>
</AuthorizeView>
<p>Welkom op de homepagina van de V&amp;D webshop. Navigeer hier naar verschillende categorieën. </p>

@code {
    private ApplicationUser user = default!;
    private string? firstName;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        firstName = user.FirstName;
    }
}
