<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-nav">
    <a class="navbar-brand" href="#">V&D</a> 
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="">
                    Categorie x <i class="fa-regular fa-user"></i>
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">      
             <li class="nav-item">
                <AuthorizeView>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="login">
                            Login<i class="bi bi-person h2"></i>
                        </NavLink>
                    </NotAuthorized>
                    <Authorized>
                       <NavLink class="nav-link" href="logout">
                            Logout<i class="bi bi-person h2"></i>
                        </NavLink> 
                    </Authorized>
                </AuthorizeView>
            </li> 
            <li class="nav-item">
                <NavLink class="nav-link" href="">
                     <i class="bi bi-suit-heart h2"></i> 
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="">
                    <i class="bi bi-cart2 h2"></i>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>  

